<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoboTroll Demo</title>
    <link rel="stylesheet" href="/stylesheets/indexstyles.css" />
  </head>
  <body>
    <div id="main">
      <div
        class="
          robotroll-component
          robotroll-component-f8d3c27c3110490bb9027cd66fbe8e1d
        "
      >
        <div class="robotroll-content">
          <div>
            <div class="robotroll-blocks css-h47494" robotroll-type="blocks">
              <div class="robotroll-block robotroll-1r2sb0z6y8 css-1onwrvx">
                <div class="robotroll-block robotroll-ln1q8549uvm css-1akjxjh">
                  <div
                    class="
                      robotroll-block
                      robotroll-yy6zmww2ggl
                      robotroll-has-component
                      css-k484z2
                    "
                  >
                    <span class="robotroll-text css-1qggkls">
                      <p>Write the story you want to tell</p>
                    </span>
                  </div>
                  <div
                    class="
                      robotroll-block
                      robotroll-s31h9nrh2pl
                      robotroll-has-component
                      css-ruqq4c
                    "
                  >
                    <span class="robotroll-text css-1qggkls"
                      >Are you a writer who is unsure how to construct story
                      openers? Try out our tool below! You may use this tool to
                      generate story openers in any tone you like! Give it a
                      shot!</span
                    >
                  </div>
                </div>
                <div class="robotroll-block robotroll-o1e2it2vwp css-1m2mfxh">
                  <div class="robotroll-block robotroll-nlvklvvyh1 css-16zctzr">
                    <div
                      class="
                        robotroll-block
                        robotroll-cfbaff1ab3db4c6ca4785850bc472abf
                        css-4zr1oc
                      "
                    >
                      <div
                        class="
                          robotroll-block
                          robotroll-4bed8e291dcc418e9a81d39ed889a499
                          robotroll-has-component
                          css-1oaxn0c
                        "
                      >
                        <span class="robotroll-text css-1qggkls">
                          <p>Select your tone:</p>
                        </span>
                      </div>
                      <select
                        class="
                          robotroll-block
                          robotroll-80b716df5b824cadb8119493c0d28907
                          robotroll-has-component
                          css-1u6f4jk
                        "
                      >
                        <option value="option 1">option 1</option>
                        <option value="option 2">option 2</option>
                      </select>
                    </div>
                  </div>
                  <span
                    class="
                      robotroll-block
                      robotroll-afa90e4dd4104834babc8f88fc359858
                      robotroll-has-component
                      css-1vf3r1k
                    "
                    >Click me!</span
                  >
                  <div class="robotroll-block robotroll-pv4hwavs6ac css-93kutk">
                    <div
                      class="
                        robotroll-block
                        robotroll-xs4x1skim
                        robotroll-has-component
                        css-yaxr2i
                      "
                    >
                      <span class="robotroll-text css-1qggkls">Result</span>
                    </div>
                    <div
                      class="
                        robotroll-block
                        robotroll-vozh1bg91hi
                        robotroll-has-component
                        css-q0uor0
                      "
                    >
                      <span class="robotroll-text css-1qggkls">
                        <p>
                          Heather Cockle looked at the stripy torch in her hands
                          and felt concerned. She walked over to the window and
                          reflected on her noisy surroundings. She had always
                          loved snooty San Diego with its sweaty, sour swamps.
                          It was a place that encouraged her tendency to feel
                          concerned. Then she saw something in the distance, or
                          rather someone. It was the figure of Reginald Barker.
                          Reginald was a selfish giant with hairy elbows and red
                          lips.
                        </p>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <img
                src="/src/bg.jpg"
                role="presentation"
                width="0"
                height="0"
                class="robotroll-block robotroll-pixel-j1zr7icwph css-1mvsfya"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
